<div id="footer-global">
    <a href="/cart">
        {{'cart.button.count_html' | t: itemCount: cart.item_count}}
    </a>

    {% include 'nav-list', handle: 'main-menu' %}
    {% include 'nav-list', handle: 'footer' %}

    {% assign copyright_date = 'now' | date: '%Y' %}
    <span class="copyright-info">
        {{ 'footer.bottom.copyright' | t: date: copyright_date }}
    </span>
    {% include 'currency-picker' %}
</div>
