<div class="nav-list">
    {% assign navList = linklists[handle] %}
    {% for link in navList.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
        {% endfor f%}]
        {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
    {% endfor %}
</div>

