<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
</head>
<body>

  {% include 'header' %}

  <main role="main">
    {{ content_for_layout }}

    {% include 'footer' %}
  </main>
  
  {{ "jquery-3.3.1.min.js" | asset_url | script_tag }}
  {% if settings.show_multiple_currencies %}
    {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
    {{ "jquery.currencies.min.js" | asset_url | script_tag }}
  {% endif %}
  {% include 'currencies' %}
  {{ 'application.js' | asset_url | script_tag }}
</body>
</html>


